@using BlazorServerAuthenticationAndAuthorization.Authentication
@inherits LayoutComponentBase
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navManager

<PageTitle>UpShift</PageTitle>

<div class= "login-page"></div>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="/faq">FAQ</a>
            <a href="/listarleiloes">Leilões</a>
            <AuthorizeView Roles ="Administrator">
                <Authorized>
                    <a href="/criarleilao">Criar Leilao</a>
                    <a href="/tickets">Tickets</a>
                </Authorized>
            </AuthorizeView>
            <AuthorizeView>
                <Authorized>
                    <a href="/licitacoes">Licitações</a>
                    <a href="/perfil">Perfil</a>
                    <a @onclick="Logout" href="javascript:void(0)">Logout</a>
                </Authorized>
                <NotAuthorized>
                    <a href="/contactus">Contact Us</a>
                    <a href="/login">Login</a>
                    <a href="/register">Register</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
    <footer>
    </footer>
</div>


@code{
    private async Task Logout()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(null);
        navManager.NavigateTo("/", true);
    }
}