@inherits LayoutComponentBase

<PageTitle>UpShift</PageTitle>


<div class="page">
    <main>
        <div class="top-row">
            <NavBar />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
    <footer>
        <Footer />
    </footer>
</div>
