@page "/faq"

<div class="row">
    <!-- FAQ -->
    <div class="col-md-12">
        <h2 class="text-center">FAQ</h2>
        <hr />
        <div class="panel-group" id="accordion">
            @foreach (var faq in Faqs)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#">
                            </a>
                        </h4>
                    </div>
                </div>
            }
        </div>
    </div>
</div>