@page "/contactus"
@using UpShift.Data
@using UpShift.Models
@inject TicketService ticketService
@inject NavigationManager navManager

<h3>Contact Us</h3>
<form @onsubmit="SubmitTicket">

    <label for="id">Id:</label>
    <input id="id" @bind="ticket.Id" required />

    <label for="nome">Nome:</label>
    <input id="nome" @bind="ticket.ClientName" required />

    <label for="email">Email:</label>
    <input id="email" type="email" @bind="ticket.ClientEmail" required />

    <label for="telefone">Telefone:</label>
    <input id="telefone" @bind="ticket.ClientPhoneNumber" />

    <label for="mensagem">Mensagem:</label>
    <textarea id="mensagem" @bind="ticket.Message" required></textarea>

    <button type="submit">Enviar Ticket</button>
</form>

@code {
    private ClientMessage ticket = new ClientMessage();
   

    private void SubmitTicket()
    {
        ticket.Timestamp = DateTime.Now;
        ticketService.AddTicket(ticket);
        Console.WriteLine($"Ticket added successfully");

        ticket = new ClientMessage();
    }
}

