<div class="flex grid grid-cols-2 text-white h-screen items-center">

          <!-- Parte das Credenciais -->
          <div class="mx-auto">
            
            <!-- Username -->
            <div class="mb-5">
              <label for="Username" class="block text-sm font-semibold text-gray-600">Username:</label>
              <input type="text" id="username" name="username" class="text-black w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500">
            </div>

            <!-- Name -->
            <div class="mb-5">
              <label for="Name" class="block text-sm font-semibold text-gray-600">Name:</label>
              <input type="text" id="name" name="name" class="text-black w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500">
            </div>

            <!-- Email -->
            <div class="mb-5">
              <label for="Email" class="block text-sm font-semibold text-gray-600">Email:</label>
              <input type="text-black" id="email" name="email" class=" text-black w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500">
            </div>

            <!-- NIF -->
            <div class="mb-5">
              <label for="nif" class="block text-sm font-semibold text-gray-600">NIF:</label>
              <input type="numbers" id="nif" name="nif" class="text-black w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500">
            </div>

            <!-- Birthdate -->
            <div class="mb-5">
              <label for="birthdate" class="block text-sm font-semibold text-gray-600">Birthdate:</label>
              <input type="text" id="birthdate" name="birthdate" class="text-black w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500">
            </div>

            <!-- Password -->
            <div class="mb-5">
              <label for="password" class="block text-sm font-semibold text-gray-600">Password:</label>
              <input type="password" id="password" name="password" class="text-black w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500">
            </div>

            <button class="mb-5 w-full bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:border-blue-700 focus:ring focus:ring-blue-200">
              Create My Account
            </button>

            <div class="mb-5">
              <a>Already have an account?</a> 
              <a href="Login/" class="text-blue-500 underline">Login here</a>
            </div>
          </div>


          <!-- O outro quadrado -->
          <div class="mx-auto dark:bg-gray-800">
            <div style="width: 30rem; height: 30rem;"
                 class="flex items-center justify-center text-center">
              <div style="padding-top: 150px; padding-right: 100px; padding-bottom: 150px; padding-left: 100px"
                   class="border-2 border-blue-500 box-content">
                <div class="text-lg font-bold">Log In</div>
                <div>Welcome to UpShift!</div>
              </div>
            </div>            
          </div>

</div>